* {
    margin:0px;
    padding: 0px;
    color:black;
    background-color: white;
    background-image:url("./assets/img2.jpg")
    background-size: contain;
}
#navbar{
    margin:50px, auto;
    font-size:10px;
}
#main-header h1{
    text-align: center;
}
p {
font-style:Times;
}

nav li{
    margin:100px,auto;
    display:flex;
    display: inline;
}

p img{
    box-sizing: border-box;
    height:50px;
    width:50px;
    border-radius:50%;
}
h1{
    box-sizing:border-box;
}
div.dog{
    margin:1000px,auto;
    width:50%;
    background-color:grey;
    position:absolute;
    bottom:0;
    left:0;
}
div.cat{
    margin:1000px,auto;
    width:50%;
    background-color:black;
    position:absolute;
    bottom:0;
    right:0;
}