* {
    margin:0px;
    padding: 0px;
    text-align: center;
    color:black;
    background-color: white;
}

.navbar{
    margin:100px,auto;
    display: inline;
}

p img{
    box-sizing: border-box;
    height:50px;
    width:50px;
    border-radius:50%;
}
h1{
    box-sizing:border-box;
}
div.dog{
    height:10%;
    width:50%;
    background-color:grey;
    position:absolute;
    bottom:0;
    left:0;
}
div.cat{
    height:10%;
    width:50%;
    background-color:black;
    position:absolute;
    bottom:0;
    right:0;
}