* {
    margin:0px;
    padding: 0px;
}

#navbar{
    display: flex;
    display:in-line;
}

h1{
    box-sizing:border-sizing;
}
.dog{
    width:50%;
    position:absolute;
    bottom:0;
    left:0;
    border-color:black;
}
.cat{
    width:50%;
    position:absolute;
    bottom:0;
    right:0;
    border-color:orange;
}