* {
    margin:0px;
    padding: 0px;
}

#navbar{
    display:flex;
    display-direction:row;
}

h1{
    box-sizing:border-sizing
}
.dog{
    width:50%;
    position:absolute;
    bottom:0;
    left:0;
    background-color:black
}
.cat{
    width:50%;
    position:absolute;
    bottom:0;
    right:0;
    background-color:white;
}
#just{
   display:center;
}